/* footer */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003c71;
    backdrop-filter: blur(10px);
    color: white;
  }
  .footer-content{
    display: flex;
     justify-content: flex-start;
     align-items: center;
     margin: 10px 20px;;
  }
  .footer-content p {
    padding-left: 40px;
  }
  .footer-content .logo{
    display: flex;
  }
  .footer-content .logo p{
    padding: 0;
    margin: 10px 0 0 2px;
  }
  
  .footer .logo :last-child{
    padding: 0;
    margin: 0px 0 0 2px;
  }
  
  